<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Context docBase="C:\Users\shrav\Downloads\Spring-Hibrenate-shravya\Spring-Hibrenate\src\main\webapp">
  <Resources cacheMaxSize="10240">
    <PreResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/target/classes" className="org.apache.catalina.webresources.DirResourceSet" webAppMount="/WEB-INF/classes"/>
    <PostResources base="C:/Users/shrav/.m2/repository/javax/annotation/javax.annotation-api/1.3.2/javax.annotation-api-1.3.2.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/javax.annotation-api-1.3.2.jar"/>
    <PostResources base="C:/Users/shrav/.m2/repository/org/slf4j/slf4j-api/2.0.9/slf4j-api-2.0.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/slf4j-api-2.0.9.jar"/>
    <PostResources base="C:/Users/shrav/.m2/repository/ch/qos/logback/logback-classic/1.4.11/logback-classic-1.4.11.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/logback-classic-1.4.11.jar"/>
    <PostResources base="C:/Users/shrav/.m2/repository/ch/qos/logback/logback-core/1.4.11/logback-core-1.4.11.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/logback-core-1.4.11.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/classmate-1.5.1.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/classmate-1.5.1.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/hibernate-validator-6.2.0.Final.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/hibernate-validator-6.2.0.Final.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/hibernate-validator-annotation-processor-6.2.0.Final.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/hibernate-validator-annotation-processor-6.2.0.Final.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/hibernate-validator-cdi-6.2.0.Final.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/hibernate-validator-cdi-6.2.0.Final.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/jakarta.el-3.0.3.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/jakarta.el-3.0.3.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/jakarta.validation-api-2.0.2.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/jakarta.validation-api-2.0.2.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/javax.servlet-api-4.0.1 (1).jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/javax.servlet-api-4.0.1 (1).jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/jboss-logging-3.4.1.Final.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/jboss-logging-3.4.1.Final.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-aop-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-aop-5.3.9.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-aspects-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-aspects-5.3.9.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-beans-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-beans-5.3.9.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-context-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-context-5.3.9.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-context-indexer-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-context-indexer-5.3.9.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-context-support-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-context-support-5.3.9.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-core-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-core-5.3.9.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-expression-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-expression-5.3.9.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-instrument-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-instrument-5.3.9.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-jcl-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-jcl-5.3.9.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-jdbc-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-jdbc-5.3.9.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-jms-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-jms-5.3.9.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-messaging-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-messaging-5.3.9.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-orm-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-orm-5.3.9.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-oxm-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-oxm-5.3.9.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-r2dbc-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-r2dbc-5.3.9.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-test-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-test-5.3.9.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-tx-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-tx-5.3.9.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-web-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-web-5.3.9.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-webflux-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-webflux-5.3.9.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-webmvc-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-webmvc-5.3.9.jar"/>
    <PostResources base="C:/Users/shrav/Downloads/Spring-Hibrenate-shravya/Spring-Hibrenate/src/main/webapp/WEB-INF/libs/spring-websocket-5.3.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/spring-websocket-5.3.9.jar"/>
  </Resources>
</Context>
